<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body class="background">
    <div class="flex hor_center_2 text_size_3 margin_top_10 text">
        <h1>Немного о правах и обязанностях</h1>
    </div>
    <div class="hor_center_1 margin_top_10">
        <p class="text_size_3 text">Имя: {{ self.first_name }}</p>
        <p class="text_size_3 text">Фамилия: {{ self.last_name }}</p>
        <p class="text_size_3 text">Логин: {{ self.username }}</p>
        <p class="text_size_3 text">Email: {{ self.email }}</p>
        <p class="text_size_3 text">Телефон: {{ self.Телефон }}</p>
        <p class="text_size_3 text">Уровень доступа: {{ access_level }}</p>
        <p class="text_size_3 text">Список взятых книг:</p>
        <div class="flex hor_center_2 width">
            {% for taken_book in taken_books %}
                <div class="margin_5 border padding_1">
                    <p class="text_size_3 text">{{ taken_book.book.title }}</p>
                </div>
            {% endfor %}
        </div>
        {% if access_level == "Библиотекарь" or access_level == "Администратор" %}
            <p class="text_size_3 text">Дать книгу: </p>
            <div class="flex hor_center_2 text">
                {% if form %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="button width">Дать книгу</button>
                    </form>
                {% endif %}
            </div>
        {% endif %}
        <br>
        <br>
        <p><a href="http://127.1.0.0:8000/change_data"><button class="button">Изменить данные</button></a></p>
    </div>
    <div class="hor_center_1">
        {% if access_level == "Читатель" %}
            <p><a href="http://127.1.0.0:8000/books"><button class="button">Книги</button></a></p>
        {% endif %}
        {% if access_level == "Библиотекарь" or access_level == "Администратор" %}
            <p><a href="http://127.1.0.0:8000/books"><button class="button">Книги</button></a></p>
            <p><a href="http://127.1.0.0:8000/users"><button class="button">Пользователи</button></a></p>
        {% endif %}
    </div>
    <div class="hor_center_1">
        <p><a href="http://127.1.0.0:8000/sign_out"><button class="button">Выйти</button></a></p>
    </div>
</body>
</html>