<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body class="background">
    <p class="flex hor_center_2 margin_top_40 text">{{ message }}</p>
    <div class="flex margin_left_40">
        <div class="flex hor_center_2 text">
            {% if form %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button width">Войти</button>
            </form>
            {% endif %}
        </div>
        <div class=" margin_left_5 dop_style_1">
            <a href="{% url 'sign_up' %}"><button class="button width">Зарегистироваться</button></a>
        </div>
    </div>
</body>
</html>